﻿@primaryColor: #F44336;
@primaryColorDark: #D32F2F;
@accentColor: #F44336;
@accentColorDark: #D32F2F;
@footer-height: 20px;

.body-content {
    padding-bottom: 50px;
}

.navbar {
    background-color: @primaryColor;
    color: #fff;

    .navbar-header {
        padding-left: 20px;

        a {
            color: #fff;
        }

        &:hover, &:focus {
            background-color: @primaryColorDark;
        }
    }

    li {

        a {
            color: #fff;

            &:hover, &:focus {
                background-color: @primaryColorDark;
            }
        }
    }
}

.main-content {
    margin-top: 65px;
}

.btn {
    background-color: @accentColor;
    border-radius: 0;
    border: none;
    padding: 10px 20px;
    color: #fff;

    &:hover, &:focus {
        background-color: @accentColorDark;
        color: #fff;
    }

    &.btn-abort {
        background-color: #7F7F7F;

        &:hover, &:focus {
            background-color: #666666;
        }
    }
}

.btn-take-shift {
    padding: 5px 20px;

    &:after {
        content: '»';
        padding-left: 10px;
    }
}

.btn-export {
    float: right;
    margin-top: -50px;
}

.table {

    thead {
        background-color: #E9ECEF;
        color: #495057;
        font-weight: bold;
    }

    tbody {
        tr {
            td {
                line-height: 3em;

                .centered-table-cell {
                    display: inline-block;
                    vertical-align: middle;
                }

                .worker {
                    line-height: 15px;
                }

                li {
                    line-height: 15px;
                }

                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}

.person-header {
    background-color: #E9ECEF;
    color: #495057;
    font-weight: bold;
    padding: 10px;
    line-height: 1em;
    margin: 0;
}

form {
    .form-element {
        padding: 10px 0;

        label {
            display: block;
        }

        input {
            padding: 10px;
            line-height: 2em;
            width: 100%;
        }
    }
}


.error-container {
    border: 1px #808080 solid;
    font-family: Consolas;
    background-color: #f2f2f2;

    > .error-content {
        padding: 10px;
    }
}

.footer-container {
    background-color: @primaryColor;
    text-align: center;
    width: 100%;
    padding: @footer-height;
    position: fixed;
    bottom: 0;

    a {
        color: #fff;
        text-decoration: none;
        padding: @footer-height + 2;
        font-size: 15px;

        &:hover {
            background-color: @primaryColorDark;
        }
    }
}