﻿@model Weihnachtsmarkt.Models.Persons.RemovePersonFromShiftViewModel

<h1>Schichteintrag entfernen</h1>

@{

    if (Model == null)
    {
        return;
    }

    if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <p>Beim entfernen ist ein unerwarteter Fehler aufgetreten. Bitte versuchen Sie es erneut.</p>
        <div class="error-container">
            <div class="error-content">
                @Html.Raw(Model.ErrorMessage)
            </div>
        </div>
        return;
    }

    if (Model.Shift == null)
    {
        <h3>Es wurde keine Schicht ausgewält. Bitte versuchen Sie es erneut</h3>
        <hr />
        <p>Zurück zu <a href="~/Persons">Personen</a></p>
        return;
    }

    if (Model.Worker == null)
    {
        <h3>Diese Person wurde nicht gefunden. Bitte versuchen Sie es erneut</h3>
        <hr />
        <p>Zurück zu <a href="~/Persons">Personen</a></p>
        return;
    }

    var shift = Model.Shift;
    var worker = Model.Worker;
}

<h3>@worker.FirstName @worker.LastName von der Schicht entfernen</h3>

<table class="table">
    <tr>
        <td>Schicht Nummer</td>
        <td>@shift.ShiftId</td>
    </tr>
    <tr>
        <td>Tag</td>
        <td>@shift.ShiftStart.ToString("dddd"), @shift.ShiftStart.ToString("dd.MM")</td>
    </tr>
    <tr>
        <td>Zeitraum</td>
        <td>@shift.ShiftStart.ToString("HH:mm") Uhr - @shift.ShiftEnd.ToString("HH:mm") Uhr</td>
    </tr>
    <tr>
        <td>Anzahl benötigter Personen</td>
        <td>@shift.NeededWorkers</td>
    </tr>
    @if (shift.Workers != null && shift.Workers.Any())
    {
        <tr>
            <td>Eingetrage Personen</td>
            <td>
                @foreach (var w in shift.Workers)
                {
                    <div class="worker">
                        @w.FirstName @w.LastName
                    </div>
                }
            </td>
        </tr>
    }
</table>

<p>Möchten Sie @worker.FirstName @worker.LastName von der Schicht entfernen?</p>
<a href="~/Persons" class="btn btn-abort">Abbrechen</a>
@Html.ActionLink("Entfernen", "Confirm", "RemovePersonFromShift", new { shiftId = shift.ShiftId, workerId = worker.Id }, new { @class = "btn"})
