﻿@model Weihnachtsmarkt.Models.ExportViewModel

@{
    if (Model == null)
    {

        return;
    }
}

<h1>Export</h1>
<h3>Beim exporieren der Schichten als PDF-Datei ist ein Fehler aufgetreten.</h3>
<hr />

<div class="error-container">
    <div class="error-content">
        @Html.Raw(@Model.ErrorMessage)
    </div>
</div>
<br/>
<p>
    Falls Sie das Problem nicht beheben können, wenden Sie sich bitte an den Enwtwickler der Website.
    Sollten Sie das Problem gelöst haben, kehren sie zurück zur <a href="~/">Startseite</a> und versuchen Sie es erneut.
</p>