﻿@model Weihnachtsmarkt.Models.Home.HomeViewModel

@{
    if (Model == null)
    {
        return;
    }
}

<h1>Schichten</h1>
<a class="btn btn-export" target="_blank" href="~/Export">Export als PDF</a>
<hr />
@if (Model.Weeks == null || !Model.Weeks.Any())
{
    <h4>Keine Schichten vorhanden! <a href="~/ShiftImport">Importieren</a> Sie Schichten</h4>
    return;
}

@foreach (var week in Model.Weeks)
{
    <div class="shift-week">
        <h3>@week.WeekStart.ToString("dd.MM") - @week.WeekEnd.ToString("dd.MM.yyyy")</h3>
        <table class="table">
            <thead>
            <tr>
                <td>Nr.</td>
                <td>Tätigkeit</td>
                <td>Tag</td>
                <td>Start</td>
                <td>Ende</td>
                <td>Benötigt</td>
                <td>Personal</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            @foreach (var shift in week.ShiftModels)
            {
                var needsWorkers = shift.Workers.Count() < shift.NeededWorkers;

                <tr>
                    <td>@shift.ShiftNumber</td>
                    <td>@shift.ShiftDescription</td>
                    <td>@shift.ShiftStart.ToString("dddd"), @shift.ShiftStart.ToString("dd.MM")</td>
                    <td>@shift.ShiftStart.ToString("HH:mm") Uhr</td>
                    <td>@shift.ShiftEnd.ToString("HH:mm") Uhr</td>
                    <td>@shift.NeededWorkers</td>
                    <td>
                        <div class="centered-table-cell">
                            @foreach (var person in shift.Workers)
                            {
                                <div class="worker">
                                    @person.FirstName @person.LastName 
                                </div>
                            }
                        </div>
                    </td>
                    <td>
                        <div class="centered-table-cell" style="float: right;" title="@(needsWorkers ? "Eintragen" : "Diese Schicht ist bereits voll")">
                            <a href="~/BookShift?shiftId=@shift.ShiftId" class="btn btn-take-shift" @(needsWorkers ? "" : "disabled")>
                                Eintragen
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}