﻿@model Weihnachtsmarkt.Models.BookShiftResultViewModel

@{
    if (Model == null)
    {
        return;
    }
}

@if (Model.Success)
{
    <div class="alert alert-success" role="alert">
        <h4>Erfolgreich!</h4>
        <p>Sie wurden erfolgreich in die Schicht eingetragen.</p>
        <hr>
        <p>Falls Sie noch in anderen Schichten mitarbeiten möchten, können Sie auf der <a href="~/">Startseite</a> nach weiteren Schichten suchen.</p>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <h4>Fehler!</h4>
        <p>Beim eintragen in die Schicht ist ein Fehler aufgetreten.</p>
        <hr/>
        <p>@Model.Message</p>
    </div>
}

