﻿@model Weihnachtsmarkt.Models.BookShiftViewModel

@{
    if (Model?.ShiftData == null)
    {
        <h1>Bitte wählen Sie eine Schicht aus!</h1>
        <p>Zurück zur <a href="~/">Startseite</a></p>
        return;
    }

    var shift = Model.ShiftData;
    var date = shift.ShiftStart;

    if (shift.Workers.Count() >= shift.NeededWorkers)
    {
        <h1>Diese Schicht ist bereits voll!</h1>
        <p>Diese Schicht ist bereits von den folgenden Personen besetzt:</p>
        <ul>
            @foreach (var worker in shift.Workers)
            {
                <li>@worker.FirstName @worker.LastName</li>
            }
        </ul>
        <p>Da diese Schicht nur @shift.NeededWorkers Personen benötigt, kann sich niemand mehr eintragen. Bitte suchen Sie sich auf der <a href="~/">Startseite</a> eine andere Schicht raus</p>
        return;
    }
}

@if (Model.ResultViewModel != null)
{
    @Html.Partial("_Result", Model.ResultViewModel)
}

<h1>Schicht eintragen</h1>
<h3>@date.ToString("dddd"), @date.ToString("dd.MM.yyyy") @shift.ShiftStart.ToString("HH:mm") Uhr - @shift.ShiftEnd.ToString("HH:mm") Uhr</h3>
<br />
<table class="table">
    <tr>
        <td>Datum</td>
        <td>@date.ToString("dd.MM.yyyy")</td>
    </tr>
    <tr>
        <td>Uhrzeit</td>
        <td>@shift.ShiftStart.ToString("HH:mm") Uhr - @shift.ShiftEnd.ToString("HH:mm") Uhr</td>
    </tr>
    <tr>
        <td>Tätigkeit</td>
        <td>@shift.ShiftDescription</td>
    </tr>
    @if (shift.Workers != null && shift.Workers.Any())
    {
        <tr>
            <td>Bereits eingetragene Personen</td>
            <td>
                @foreach (var worker in shift.Workers)
                {
                    <div class="worker">@worker.FirstName @worker.LastName</div>
                }
            </td>
        </tr>
    }
</table>
<br />
@using (Html.BeginForm("Index", "BookShift", new { shiftId = shift.ShiftId }, FormMethod.Post))
{
    @Html.Hidden("ShiftData", Model.ShiftData)

    <div class="form-element">
        <label for="firstname">Vorname</label>
        @Html.TextBoxFor(x => x.FirstName)
    </div>

    <div class="form-element">
        <label for="lastname">Nachname</label>
        @Html.TextBoxFor(x => x.LastName)
    </div>


    <input style="float: right;" class="btn" type="submit" value="Speichern" />
}