﻿@model Weihnachtsmarkt.Models.LoginViewModel

@{
    if (Model == null)
    {

        return;
    }

    if (Model.WrongPassword)
    {
        <div class="alert alert-danger" role="alert">
            <h4>Falsches Passwort</h4>
            <p>Sie haben ein falsches Passwort eingegeben. Bitte versuchen Sie es erneut.</p>
        </div>
    }
}

<h1>Einloggen</h1>
<hr />

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{

    <div class="form-element">
        <label for="password">Passwort</label>
        @Html.PasswordFor(x => x.Password)
    </div>


    <input style="float: right;" class="btn" type="submit" value="Anmelden" />
}