﻿@using Weihnachtsmarkt.Constatns
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Simon Nagel"/>

    <title>Weihnachtsmarkt</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Weihnachtsmarkt Schichtenplan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Schichten", "Index", "Home")</li>
                    <li>@Html.ActionLink("Personen", "Index", "Persons")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (Session[SessionKeys.LoggedIn]?.ToString() == "true")
                    {
                        <li>@Html.ActionLink("Abmelden", "Logout", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Anmelden", "Index", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="main-content">
            @if (Session[SessionKeys.LoggedOut]?.ToString() == "true")
            {
                Session.Clear();
                <div class="alert alert-success" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h4>Erfolgreich!</h4>
                    <p>Sie wurden erfolgreich abgemeldet.</p>
                </div>
            }
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="footer-container">
            @Html.ActionLink("Impressum", "Index", "Impressum")
            @Html.ActionLink("Datenschutzerklärung", "Index", "DataProtection")
        </div>
    </footer>

@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
