﻿<div>
    <h1>Schichten Import</h1>
    <h3>Diese Seite ist nur für Administratoren der Seite</h3>
    <p>Auf dieser Seite wird der Import der Schichten in die Datenbank ausgeführt. Legen Sie dazu eine Datei mit dem richtigen Inhalt ab unter /wwwroot/assets/shift_import.csv</p>
    <hr/>
    <input type="button" value="Import" onclick="location.href='@Url.Action("ShiftImportResult", "ShiftImport")'" />
</div>