﻿@model Weihnachtsmarkt.Models.ShiftImportViewModel

@{
    if (Model == null)
    {
        return;
    }

    var success = Model.Result.Success;
    var title = success ? "Import erfolgreich" : "Import fehlgeschlagen";
    var subtitle = success ? "Der Import wurde erfolgreich durchgeführt." : "Beim Import ist ein Fehler aufgetreten.";

}

<div class="shift-import-result-page">
    <h1>@title</h1>
    <h3>@subtitle</h3>
    <hr/>
    <div class="error-container">
        <div class="error-content">
            @Html.Raw(@Model.Result.Message)
        </div>
    </div>
</div>