﻿@model Weihnachtsmarkt.Models.Persons.PersonsViewModel

<h1>Personen</h1>
<hr />

@{
    if (Model == null || !Model.WorkerDatas.Any())
    {
        <p>Es sind noch keine Personen in Schichten eingetragen.</p>
        return;
    }

    var workers = Model.WorkerDatas;
}

@foreach (var worker in workers)
{
    if (worker.Shifts == null || !worker.Shifts.Any())
    {
        continue;
    }

    <h4 class="person-header">@worker.FirstName @worker.LastName</h4>
    <table class="table">
        @foreach (var shift in worker.Shifts)
        {
            <tr>
                <td>Schicht Nr. @shift.ShiftNumber</td>
                <td>@shift.ShiftDescription</td>
                <td>@shift.ShiftStart.ToString("dddd"), @shift.ShiftStart.ToString("dd.MM")</td>
                <td>@shift.ShiftStart.ToString("HH:mm") Uhr - @shift.ShiftEnd.ToString("HH:mm") Uhr</td>
                <td>@shift.NeededWorkers Personen benötigt</td>
                @if (Model.IsCurrentUserLoggedIn)
                {
                    <td>
                        <a style="float: right;" href="/RemovePersonFromShift?shiftId=@(shift.ShiftId)&workerId=@(worker.Id)" class="btn">Löschen</a>
                    </td>
                }
            </tr>
        }
    </table>
    <br />
}